@import "includes/grid";
@import "includes/settings";
@import "includes/vars";

body{
  background-color: $pale-white;
}

header{
  height: 100px;
  line-height: 100px;
  position: relative;
  @include box-sizing;
  h1{
    display: inline-block;
    text-indent: $pi;
    background: url('../img/odella-logo.png') no-repeat center;
    width: 113px;
    height: 100px;
  }
  nav{
    display: inline-block;
    position: absolute;
    right: 0;
    ul{
      li{
        display: inline;
        margin-left: 20px;
        a{
          text-decoration: none;
          color: $dark-green;
          @include transition('color');
          &:hover{
            color: $light-green;
          }
        }
      }
    }
  }
}
.splash{
  .welcome{
    background-color: $dark-green;
    text-align: center;
    color: $pale-white;
    font-weight: 300;
    padding: 20px;
    width: 480px;
    margin: 0 auto;
    h2{
      font-size: 1.8em;
      line-height: 1.4em;
      margin-bottom: 20px;
    }
  }
}